/*
 * Main Sass file for Teamboard
 */

// Override default font path in fontawesome
$fa-font-path: "./fonts";

@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";
@import "fontawesome/scss/font-awesome";
@import "web-fonts";

@include web-fonts("Lobster");

/*
 * Global variables
 */

$bg-dark: rgb(34, 26, 38);
$bg-medium: rgb(240, 240, 240);
$bg-light: rgb(255, 255, 255);
$fg-dark: rgb(30, 30, 30);
$fg-light: rgb(255, 255, 255);
$purple: rgb(114, 74, 127);
$purple-dark: rgb(90, 56, 102);
$purple-darker: rgb(25, 12, 33);
$red: rgb(235, 88, 74);
$yellow: rgb(220, 199, 91);
$turquoise: rgb(114, 189, 187);
$blue-dark: rgb(92, 152, 180);
$blue-darker: rgb(79, 129, 154);
$font-lobster: "Lobster", "Helvetica", "Arial", sans-serif;

/* Colors */
$purple: #724a7f;
$purple-dark: #5a3866;
$yellow: #dcc75b;
$red: #eb584a;
$blue: #4f819a;
$white: #ffffff;
$gray: #656565;
$gray-medium: #221a26;
$gray-dark: #190c21;
$lightgray: #ededed;
$lightgray-dark: #b2b2b2;
$turquoise: #72bdbb;
$turquoise-dark: #619b98;
$transparent: rgba(0, 0, 0, 0);
$black-transparent-20: rgba(0, 0, 0, 0.2);
$black-transparent-60: rgba(0, 0, 0, 0.6);

/* Element colors */
$topbar-bg: #ededed;
$topbar-border-bottom: #b2b2b2;
$workspace-bg: #ffffff;
$boardpreview-bg: #ededed;
$boardpreview-selected-bg: #72bdbb;
$label-private-bg: #656565;
$label-public-bg: #221a26;
$icon-off: #b2b2b2;
$icon-on: #72bdbb;
$text-dark: #221a26;
$text-light: #ffffff;
$btn-primary-bg: #72bdbb;
$board-bg: #ffffff;
$ticket-bg: #ffffff;

/* Dimensions */
$topbar-height: 64px;
$topbar-icon-size: 28px;
$sidebar-width: 232px;
$sidebar-margin-left: 24px;
$board-width: 1920px;
$board-height: 1080px;
$board-margin: 8px;
$boardpreview-width: 230px;
$boardpreview-height: 200px;
$boardpreview-margin-left: 24px;
$boardpreview-margin-top: 24px;
$boardpreview-padding: 12px;
$spinner-size: 52px;
$ticket-width: 226px;
$ticket-height: 128px;

/* Animations */
$boardpreview-fade-duration: 0.6s;
$loadingoverlay-fade-duration: 0.4s;

@import "partials/animations";
@import "partials/buttons";
@import "partials/texteditor";
@import "partials/auth";
@import "partials/modal";
@import "partials/sidebar";
@import "partials/topbar";
@import "partials/workspace";
@import "partials/board";

html, body, .container-fluid, .row {
	height: 100%;
}

html, body {
	width: 100%;
}

html {
	// overflow: hidden;
}

body {
	background: $lightgray;
	overflow: hidden;
}

#app {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#sidebar-container {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	z-index: 10001;
}

#topbar-container {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 10000;
}

#content-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#content-scrollarea {
	position: absolute;
	background-color: $white;
	left: $sidebar-width;
	top: $topbar-height;
	width: calc(100% - #{$sidebar-width} + 1px);
	height: calc(100% - #{$topbar-height});
}

/*
 * Scrollbars
 */

.iScrollIndicator {
	border: none !important;
	border-radius: 0 !important;
}
