/*
 * Main Sass file for Teamboard
 */

// Override default font path in fontawesome
$fa-font-path: "./fonts";

@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";
@import "fontawesome/scss/font-awesome";

/*
 * Global variables
 */

/* Fonts */
$font-lobster: "Lobster", "Helvetica", "Arial", sans-serif;
$font-lato: "Lato", "Helvetica", "Arial", sans-serif;

/* Colors */
$purple: #724a7f;
$purple-dark: #5a3866;
$yellow: #dcc75b;
$red: #eb584a;
$red-dark: #9b3934;
$blue: #4f819a;
$white: #ffffff;
$gray: #656565;
$gray-medium: #221a26;
$gray-dark: #190c21;
$lightgray: #ededed;
$lightgray-dark: #b2b2b2;
$turquoise: #72bdbb;
$turquoise-dark: #619b98;
$transparent: rgba(0, 0, 0, 0);
$black-transparent-20: rgba(0, 0, 0, 0.2);
$black-transparent-60: rgba(0, 0, 0, 0.6);
$white-transparent-60: rgba(255, 255, 255, 0.6);

/* Element colors */
$topbar-bg: #ededed;
$topbar-border-bottom: #b2b2b2;
$workspace-bg: #ffffff;
$boardpreview-bg: #ededed;
$boardpreview-selected-bg: #72bdbb;
$label-private-bg: #656565;
$label-public-bg: #221a26;
$icon-off: #b2b2b2;
$icon-on: #72bdbb;
$text-dark: #221a26;
$text-light: #ffffff;
$btn-primary-bg: #72bdbb;
$board-bg: #ffffff;
$ticket-bg: #ffffff;

/* Dimensions */
$topbar-height: 64px;
$topbar-icon-size: 25px;
$sidebar-width: 232px;
$sidebar-width-collapsed: 74px;
$sidebar-margin-left: 24px;
$board-width: 1920px;
$board-height: 1080px;
// $board-margin: 8px;
$board-margin-top: 100px;
$board-margin-right: 80px;
$board-margin-bottom: 80px;
$board-margin-left: 80px;

$boardpreview-width: 230px;
$boardpreview-height: 200px;
$boardpreview-margin-left: 24px;
$boardpreview-margin-top: 24px;
$boardpreview-padding: 12px;
$spinner-size: 52px;
$ticket-width: 226px;
$ticket-height: 128px;
$minimap-width: 200px;
$minimap-height: 113px;
$minimap-scale: 0.1;

/* Animations */
$boardpreview-fade-duration: 0.6s;
$loadingoverlay-fade-duration: 0.4s;
$sidebar-collapse-duration: 0.2s;

@import "partials/animations";
@import "partials/buttons";
@import "partials/texteditor";
@import "partials/auth";
@import "partials/modal";
@import "partials/sidebar";
@import "partials/topbar";
@import "partials/workspace";
@import "partials/board";
@import "partials/minimap";

.toolbar {
	position: absolute;
	z-index: 10000;
	right: 8px;
	top: 70px;
	padding: 4px;
	border-radius: 5px;
	background-color: rgba(200, 200, 200, 0.8);

	.btn-tool {
		font-size: 24px;
	}
}

html {
	position: fixed;
}

html, body, .container-fluid, .row {
	height: 100%;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	font-family: $font-lato;
	background-color: $white;
	overflow: hidden;
}

#app {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#sidebar-container {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	z-index: 10001;
}

#topbar-container {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 10000;
}

#content-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#content-scrollarea {
	position: relative;
	background-color: $white;
	// left: $sidebar-width;
	// top: $topbar-height;
	left: 0px;
	top: 0px;
	// width: calc(100% - #{$sidebar-width} + 1px);
	// height: calc(100% - #{$topbar-height});
	width: calc(100% + 1px);
	height: calc(100%);

	&.scrollarea-expanded {
		left: $sidebar-width-collapsed;
		width: calc(100% - #{$sidebar-width-collapsed} + 1px);
	}
}

#presentation-container {
	position: fixed;
	box-sizing: content-box;
	z-index: 100000;
	left: 0;
	top: 0;
}

/*
 * Scrollbars
 */

.iScrollIndicator {
	border: none !important;
	border-radius: 0 !important;
}
