#board-background {
	position: absolute;
	width: $board-width + $board-margin-right + $board-margin-left;
	height: $board-height + $board-margin-top + $board-margin-bottom;
}

#board {
	position: absolute;
	// box-sizing: border-box;
	left: $board-margin-left;
	top: $board-margin-top;
	width: $board-width;
	height: $board-height;
	background-color: $board-bg;
	// border: 1px solid $lightgray;
	overflow: hidden;
}

.board-heading {
	position: relative;
	font-size: 32px;
	top: 80px;
	left: 80px;
	color: $lightgray-dark;
}

.minimap-container {
	position: fixed;
	z-index: 11000;
	padding: 4px;
	background-color: rgb(24, 24, 24);
	-webkit-box-shadow: 1px 1px 1px 1px $black-transparent-20;
	-moz-box-shadow: 1px 1px 1px 1px $black-transparent-20;
	box-shadow: 1px 1px 1px 1px $black-transparent-20;
}

.presentation-background {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: $gray-dark;
}

.board-presentation {
	position: fixed;
	box-sizing: content-box;
	left: 0;
	top: 0;
	border: 4px solid $gray;
	background-color: $white;
	transform-origin: 0 0;

	.btn-presentation-close {
		position: absolute;
		font-size: 28px;
		top: 2px;
		right: 8px;

		&:active {
			-webkit-box-shadow: none;
			box-shadow: none;
		}
	}

	.smooth-transition {
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}
}

.ticket {
	position: absolute;
	box-sizing: border-box;
	z-index: 100;
	width: $ticket-width; // Margin 16
	height: $ticket-height; // Margin 8
	max-width: $ticket-width;
	max-height: $ticket-height;
	background-color: $white;
	border: 1px solid $lightgray-dark;

	&.unfocused {
		opacity: 0.5;
		z-index: 0 !important;
	}

	.selection-overlay {
		position: absolute;
		left: -2px;
		top: -2px;
		width: $ticket-width + 2px;
		height: $ticket-height + 2px;
		border: 3px solid $turquoise;
		background-color: $transparent;
	}

	.ticket-hilight {
		position: absolute;
		left: -2px;
		top: -2px;
		width: $ticket-width + 2px;
		height: $ticket-height + 2px;
		border: 3px dashed $turquoise;
		background-color: $transparent;
	}

	.color {
		height: 10px;
		width: 100%;
	}

	.heading {
		font-size: 12pt;
		padding: 14px;
		color: $gray-medium;
	}

	.content {
		padding: 5px 10px 5px 10px;
		min-height: 58px;
		height: 100%;
		font-size: 1.2rem;
		color: rgb(170, 170, 170);

		&.collapsed {
			max-height: 58px;
			overflow: hidden;
		}
	}

	.btn-select {
		position: relative;
		float: right;
		top: 10px;
		right: 0;
		font-size: 18px;
		box-shadow: none;
		background-color: $transparent;
		color: $lightgray-dark;

		&.btn-checkbox {
			&.active {
				box-shadow: none;
				color: $turquoise;
			}
		}
	}

	.btnbar {
		height: 3rem;
		width: 100%;

		.gravatar {
			float: left;
			display: inline-block;
			max-height: 100%;
			margin-left: 1.5rem;
			border-radius: 50%;
			padding: 0.2rem;
		}

		button {
			float: right;
			padding: 0.2rem;
			background: none;
			border: none;
			font-size: 2rem;
			color: rgb(170, 170, 170);
			margin-right: 1.5rem;
			margin-bottom: 0.3rem;

			&:first-child {
				margin-right: 1rem;
			}
		}
	}
}

.ticket-proxy {
	position: absolute;
	display: none;
	width: $ticket-width;
	height: $ticket-height;
	background-color: $black-transparent-20;

	&.visible {
		display: block;
	}
}

.dragging {
	box-shadow: 2px 2px 2px $black-transparent-20;
	transition: box-shadow 0.2s ease;
}


.overflow-hidden {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/*
.overflow-hidden:hover {
	overflow: visible;
	white-space: normal;
}
*/
