.btn.btn-default {
	background-color: $lightgray-dark;
	border-color: $gray;
	color: $white;
}

.btn.btn-default:hover {
	background-color: $gray;
}

.btn.btn-primary {
	background-color: $turquoise;
	border-color: $turquoise-dark;
	color: $white;
}

.btn.btn-primary:hover {
	background-color: $turquoise-dark;
}

.btn.btn-danger {
	background-color: $red;
	border-color: $red-dark;
	color: $white;
}

.btn.btn-danger:hover {
	background-color: $red-dark;
}

.btn.btn-fw {
	width: 100%;
}

.btn.radioselect {
	padding: 0;
	border-radius: 0;
	// border-top: 8px solid $white;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: none;
	color: $white;

	&.active { border-top: none; box-shadow: none; }
	&:active { border-top: none; box-shadow: none; }

	// Ticket color selection
	&.blue { background: $blue; }
	&.purple { background: $purple; }
	&.yellow { background: $yellow; }
	&.red { background: $red; }

	// Board visibility selection
	&.private { background: $lightgray-dark; }
	&.public { background: $turquoise; }
}

.radiogroup {
	// Should be the same height as the radioselect buttons,
	// prevents layout jittering when changing selection.
	height: 40px;
}

.btn-auth {
	outline: none;
	font-size: 18px;
	color: $white;
	height: 64px;
	margin-top: 24px;
	margin-bottom: 24px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;

	&:active {
		outline: none;
		color: white;
	}

	&.active {
		outline: none;
		color: white;
	}

	&.btn-3d {
		border: none;
	}

	&.btn-flat {
		border: 2px solid $white;
	}

	&.flat:active {
		-webkit-box-shado: none;
		box-shadow: none;
	}

	&.btn-register {
		background-color: $purple;
		-webkit-box-shadow: 2px 2px 0 0 $purple-dark;
		box-shadow: 2px 2px 0 0 $purple-dark;

		&:hover {
			// background-color: $purple-dark;
		}

		&:active {
			outline: none;
			-webkit-box-shadow: none;
			box-shadow: none;
			-moz-transform: translate(2px, 2px);
			-webkit-transform: translate(2px, 2px);
			-o-transform: translate(2px, 2px);
			-ms-transform: translate(2px, 2px);
			transform: translateX(2px, 2px);
		}
	}

	&.btn-login {
		background-color: $turquoise;
		-webkit-box-shadow: 2px 2px 0 0 $turquoise-dark;
		box-shadow: 2px 2px 0 0 $turquoise-dark;

		&:hover {
			background-color: $turquoise-dark;
		}

		&:active {
			outline: none;
			-webkit-box-shadow: none;
			box-shadow: none;
			-moz-transform: translate(2px, 2px);
			-webkit-transform: translate(2px, 2px);
			-o-transform: translate(2px, 2px);
			-ms-transform: translate(2px, 2px);
			transform: translateX(2px, 2px);
		}
	}

	&.btn-registerlink {
		background-color: $gray-dark;

		&:hover {
			background-color: $purple;
		}
	}

	&.btn-loginlink {
		background-color: $gray-dark;

		&:hover {
			background-color: $turquoise;
		}
	}
}
