.btn {
	border-radius: 0;
	background-color: rgb(170, 170, 170);
}

.btn.btn-primary {
	background: $turquoise;
	border-color: darken($turquoise, 5%);
}

.btn.btn-primary:hover {
	background: darken($turquoise, 10%);
}

.btn.radioselect {
	border-top: 8px solid rgb(255, 255, 255);
	border-left: none;
	border-right: none;
	border-bottom: none;
	color: rgb(255, 255, 255);

	&.active { border-top: none; box-shadow: none; }
	&:active { border-top: none; box-shadow: none; }

	// Ticket color selection
	&.turquoise { background: $turquoise; }
	&.purple { background: $purple; }
	&.red { background: $red; }
	&.yellow { background: $yellow; }

	// Board visibility selection
	&.private { background: rgb(120, 120, 120); }
	&.public { background: $turquoise; }
}

.radiogroup {
	// Should be the same height as the radioselect buttons,
	// prevents layout jittering when changing selection.
	height: 52px;
}

// .btn-add {
// 	position: relative;
// 	display: inline-block;
// 	color: $text-light;
// 	background-color: $btn-primary-bg;
// 	top: -4px;
// 	left: 160px;
// 	width: 200px;
// 	height: 46px;
// 	-webkit-border-radius: 5px 5px 5px 5px;
// 	border-radius: 5px 5px 5px 5px;
// 	-webkit-box-shadow: 3px 3px 0 0 #589190;
// 	box-shadow: 3px 3px 0 0 #589190;

// 	&:active {
// 		outline: none;
// 		-webkit-box-shadow: none;
// 		box-shadow: none;
// 		-moz-transform: translateX(3px) translateY(3px);
// 		-webkit-transform: translateX(3px) translateY(3px);
// 		-o-transform: translateX(3px) translateY(3px);
// 		-ms-transform: translateX(3px) translateY(3px);
// 		transform: translateX(3px) translateY(3px);
// 	}
// }
