.minimap {
	position: relative;
	background-color: $white;
	background-repeat: no-repeat;

	.minimap-indicator {
		position: absolute;
		box-sizing: border-box;
		z-index: 3;
		border: 1px solid $turquoise;
		background-color: rgba(20, 20, 255, 0.2);
	}

	.minimap-ticket {
		position: absolute;
		z-index: 2;

		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}
}
