.modal {
	z-index: 100001 !important;
}

.modal-backdrop {
	z-index: 100000 !important;
}

.modal-size-sm .modal-dialog {
	width: 35%;
}

.modal-size-md .modal-dialog {
	width: 60%;
}

.modal-size-lg .modal-dialog {
	width: 75%;
}

.modal-content {
	border-radius: 0;
	color: $gray-medium;
}

.modal-header {
	padding: 0;
	border: none;

	.gravatar {
		max-height: 3rem;
		margin-left: 1rem;
		margin-right: 0.5rem;
		border-radius: 50%;
	}

	&.color-select {
		padding-top: 40px;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
		border-bottom: none;
	}
}

.modal-body {
	padding: 0;

	textarea {
		resize: vertical;
	}

	.highlight {
		font-weight: bold;
	}
}

.modal-footer {
	padding: 0;
	border: none;
}

.modal-heading-block {
	text-align: center;
	padding: 16px;
	font-size: 22px;
	font-weight: bold;
	color: $gray-medium;
}

.modal-content-block {
	padding: 0;

	&.padding-md {
		padding: 16px;
	}

	&.padding-lg {
		padding: 32px;
	}

	&.centered {
		text-align: center;
	}

	.gravatar {
		border-radius: 50%;
		border: 1px solid $turquoise;
	}
}

.modal-content-caret {
	color: $lightgray-dark;
}

.modal-content-divider {
	border-bottom: 1px solid $lightgray-dark;
}

.form-control {
	&.text {
		border-radius: 3px;
		border: 1px solid $lightgray-dark;
		background-color: $lightgray;
		color: $gray-medium;
	}

	&.ticket-heading {
		border: none;
		background-color: $white;
		color: $gray-medium;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;

		&:focus {
			border-radius: 3px;
			border: 1px solid $lightgray-dark;
			background-color: $lightgray;
		}
	}
}

.form-group.last {
	margin-bottom: 0;
}

.btn-visibility {
	border-radius: 3px;
	border: 1px solid $lightgray-dark;
	background-color: $lightgray;
	color: $gray-medium;

	&.active {
		background-color: darken($lightgray, 10%);
	}
}

.btn-modal-close {
	position: absolute;
	font-size: 28px;
	top: 2px;
	right: 8px;

	&:active {
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}

.dropdown-menu {
	width: 100%;
	color: $gray-medium;
	background-color: $lightgray;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
	color: $gray-medium;
	background-color: $lightgray-dark;
}

.member-block {
	display: inline-block;
	position: relative;
	cursor: pointer;
	margin: 8px;

	.owner-mark {
		position: absolute;
		left: 0;
		top: 0;
		color: $purple;
	}
}

.help-block.error {
	text-align: center;
	color: $red;
}

.selected-email {
	color: $turquoise;
}

.bg-preview {
	display: inline-block;
	margin-right: 10px;
	margin-top: 10px;
	padding: 10px;
	background-color: $lightgray;

	&.active {
		background-color: $turquoise;
	}

	&.selected {
		background-color: $turquoise;
	}

	.bg-thumbnail {
		width: 200px;
		height: 113px;
		border: 1px solid $lightgray-dark;
		background-color: $white;
		-webkit-box-shadow: 1px 1px 1px 1px $black-transparent-20;
		-moz-box-shadow: 1px 1px 1px 1px $black-transparent-20;
		box-shadow: 1px 1px 1px 1px $black-transparent-20;
	}

	.bg-heading {
		text-align: center;
		font-size: 20px;
		margin-top: 12px;
		margin-bottom: 4px;
	}

	.bg-empty {
		background-color: $white;
	}
}
