.modal {
	z-index: 100001 !important;
}

.modal-backdrop {
	z-index: 100000 !important;
}

.modal-size-sm .modal-dialog {
	width: 35%;
}

.modal-size-md .modal-dialog {
	width: 60%;
}

.modal-size-lg .modal-dialog {
	width: 70%;
}

.modal-header {
	text-align: center;
	border-bottom: 1px solid $lightgray-dark;
	font-size: 22px;
	font-weight: bold;

	.heading {
		color: $gray-medium;
	}

	.gravatar {
		max-height: 3rem;
		margin-left: 1rem;
		margin-right: 0.5rem;
		border-radius: 50%;
	}

	&.color-select {
		padding-top: 40px;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
		border-bottom: none;
	}
}

.modal-content {
	border-radius: 0;
}

.modal-body {
	textarea {
		resize: vertical;
	}
}

.modal-footer {
	border-top: none;
}

.form-control {
	&.text {
		border-radius: 3px;
		// margin-top: 8px;
		margin-bottom: 8px;
		border: 1px solid $lightgray-dark;
		background-color: $lightgray;
		color: $gray-medium;
	}

	&.ticket-heading {
		border: none;
		// margin-top: 8px;
		margin-bottom: 8px;
		background-color: $white;
		color: $gray-medium;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;

		&:focus {
			border-radius: 3px;
			border: 1px solid $lightgray-dark;
			background-color: $lightgray;
		}
	}
}

.btn-group-visibility {
	margin-top: 8px;
}

.btn-visibility {
	border-radius: 3px;
	border: 1px solid $lightgray-dark;
	background-color: $lightgray;
	color: $gray-medium;

	&.active {
		background-color: darken($lightgray, 10%);
	}
}

.btn-modal-control {
	width: 100%;
}
