.sidebar {
	box-sizing: border-box;
	width: $sidebar-width;
	min-height: 100%;
	background-color: $gray-medium;
	color: $white;

	.logo {
		font-family: $font-lobster;
		cursor: pointer;
		font-size: 28px;
		padding-left: $sidebar-margin-left;
		padding-top: 12px;
		padding-bottom: 12px;

		img {
			width: 28px;
		}
	}

	.profile {
		// text-align: center;
		margin-bottom: 2rem;

		.gravatar {
			border: 0.4rem $purple-darker solid;
			border-radius: 50%;
			margin-bottom: 1rem;
		}
	}

	.email {
		max-width: 90%;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		margin-left: 1rem;
	}

	.uservoice {
		position: absolute;
		text-align: center;
		bottom: 14px;
		left: $sidebar-width / 2 - 20px;

		a {
			cursor: pointer;
			color: $white;
		}

		a:hover {
			color: $turquoise;
		}

		i {
			font-size: 32px;
		}
	}
}

.sidebar nav {
	a {
		color: $fg-light;
	}

	ul {
		width: 100%;
		margin: 0;
		padding: 0;
		list-style-type: none;

		li {
			font-size: 18px;
			width: 100%;
			padding-left: $sidebar-margin-left;
			padding-top: 12px;
			padding-bottom: 12px;

			i {
				margin-right: 16px;
				font-size: 20px;
				// font-size: 3rem;
				// margin: 0 2rem 0 3rem;
			}
		}

		a {
			&:hover {
				background: $turquoise;
				text-decoration: none;
			}
		}

		li:hover {
			background: $turquoise;
			text-decoration: none;
		}
	}
}
