.btn-toolbar {
	display: none;

	.btn-default {
		min-width: 48px;
		background-color: $white;
		color: $gray-medium;

		&:hover {
			background-color: $lightgray;
		}

		&.active {
			box-shadow: none;
			background-color: $lightgray-dark;
		}

		&:active {
			box-shadow: none;
		}
	}
}

.ta-scroll-window {
	.ta-bind {
		min-height: 12em;
		max-height: 12em;
		height: 12em;
		outline: none;
	}
}

.ta-editor {
	&.form-control {
		cursor: pointer;
		min-height: 12em;
		max-height: auto;
		height: auto;
		boder: none;
		// border-radius: 0;
		margin-top: 2px;
	}
}

.focussed {
	.ta-editor {
		&.form-control {
			background-color: $lightgray;
			cursor: text;
		}
	}

	&.btn-toolbar {
		display: block;
	}
}
