.topbar {
	position: fixed;
	box-sizing: border-box;
	left: 0;
	top: 0;
	min-width: 100%;
	min-height: $topbar-height;
	background: $topbar-bg;
	border-bottom: 1px solid $topbar-border-bottom;

	// @media (max-width: $screen-md-min) {
	// 	padding: 0;
	// 	width: 75%;
	// }

	// @media (max-width: $screen-sm-min) {
	// 	width: 100%;
	// }

	.sidebar-margin {
		display: inline-block;
		width: 240px;
	}

	h2 {
		display: inline-block;
		margin-left: 2rem;
		font-size: 2rem;
		color: $text-dark;
	}

	h3 {
		display: inline-block;
		font-size: 1.5rem;
		margin-left: 2rem;
		color: $text-dark;

		.gravatar {
			max-height: 2rem;
			border-radius: 50%;
			margin-left: 0.5rem;
		}
	}

	.btn-add {
		position: relative;
		display: inline-block;
		color: $text-light;
		background-color: $btn-primary-bg;
		top: -4px;
		left: 160px;
		width: 200px;
		height: 46px;
		-webkit-border-radius: 5px 5px 5px 5px;
		border-radius: 5px 5px 5px 5px;
		-webkit-box-shadow: 3px 3px 0 0 #589190;
		box-shadow: 3px 3px 0 0 #589190;
	}

	button.snap.active {
		span {
			color: $turquoise;
		}
	}

	.iconbar {
		position: relative;
		display: inline-block;
		left: 240px;
		color: $icon-off;

		.btn-icon {
			font-size: 28px;
			line-height: 28px;
			background-color: rgba(0, 0, 0, 0);
			height: 42px;
		}
	}
}
