.topbar {
	position: fixed;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	min-width: 100%;
	height: $topbar-height;
	background: $topbar-bg;
	border-bottom: 1px solid $topbar-border-bottom;

	.content-wrapper {
		margin-left: $sidebar-width;
		height: $topbar-height;
	}

	h2 {
		font-size: 2rem;
		color: $text-dark;
	}

	h3 {
		font-size: 1.5rem;
		color: $text-dark;

		.gravatar {
			max-height: 2rem;
			border-radius: 50%;
			margin-left: 0.5rem;
		}
	}

	.btn-add {
		outline: none;
		color: $text-light;
		background-color: $btn-primary-bg;
		margin-top: 6px;
		width: 200px;
		height: 46px;
		-webkit-border-radius: 5px 5px 5px 5px;
		border-radius: 5px 5px 5px 5px;
		-webkit-box-shadow: 3px 3px 0 0 #589190;
		box-shadow: 3px 3px 0 0 #589190;

		&:active {
			outline: none;
			-webkit-box-shadow: none;
			box-shadow: none;
			-moz-transform: translateX(3px) translateY(3px);
			-webkit-transform: translateX(3px) translateY(3px);
			-o-transform: translateX(3px) translateY(3px);
			-ms-transform: translateX(3px) translateY(3px);
			transform: translateX(3px) translateY(3px);
		}
	}

	.iconbar {
		color: $icon-off;
		margin-top: 12px;

		.btn-icon {
			font-size: 28px;
			line-height: 28px;
			background-color: rgba(0, 0, 0, 0);
			box-shadow: none;

			&.enabled {
				color: $icon-on;
			}
		}

		.btn-checkbox {
			&.active {
				box-shadow: none;
				color: #000000;
			}
		}
	}
}
