.topbar {
	position: fixed;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	min-width: 100%;
	height: $topbar-height;
	background: $lightgray;
	border-bottom: 1px solid $lightgray-dark;

	.content-wrapper {
		margin-left: $sidebar-width;
		height: $topbar-height;
	}

	.content-block {
		height: 100%;
	}

	h2 {
		font-size: 2rem;
		color: $gray-medium;
	}

	h3 {
		font-size: 18px;
		color: $gray-medium;
		margin-top: 8px;
		margin-bottom: 6px;

		.gravatar {
			max-height: 2rem;
			border-radius: 50%;
			margin-left: 0.5rem;
		}
	}

	.btn-add {
		outline: none;
		vertical-align: center;
		color: $white;
		background-color: $turquoise;
		margin-top: 6px;
		width: 200px;
		height: 46px;
		-webkit-border-radius: 5px 5px 5px 5px;
		border-radius: 5px 5px 5px 5px;
		-webkit-box-shadow: 2px 2px 0 0 $turquoise-dark;
		box-shadow: 2px 2px 0 0 $turquoise-dark;

		&:active {
			outline: none;
			-webkit-box-shadow: none;
			box-shadow: none;
			-moz-transform: translate(2px, 2px);
			-webkit-transform: translate(2px, 2px);
			-o-transform: translate(2px, 2px);
			-ms-transform: translate(2px, 2px);
			transform: translateX(2px, 2px);
		}
	}

	.iconbar {
		margin-top: 12px;

		.btn-icon {
			display: none;
			font-size: $topbar-icon-size;
			line-height: $topbar-icon-size;
			background-color: $transparent;
			box-shadow: none;

			&.enabled {
				display: block;
				color: $lightgray-dark;
			}

			&.ng-click-active {
				color: $turquoise;
			}
		}

		.btn-checkbox {
			&.active {
				box-shadow: none;
				color: $turquoise;
			}
		}
	}
}

.label-private {
	background-color: $gray;
}

.label-public {
	background-color: $gray-medium;
}

.cursor-pointer {
	cursor: pointer;
}
