#workspace {
	position: absolute;
	background-color: $workspace-bg;
	width: 3 * ($boardpreview-width + $boardpreview-margin-left) + $boardpreview-margin-left;
}

.loading-overlay {
	position: fixed;
	display: none;
	z-index: 500;
	left: 0;
	top: 0;
	background-color: $black-transparent-60;

	&.visible {
		display: block;
		-webkit-animation: $loadingoverlay-fade-duration fadeIn;
		-moz-animation: $loadingoverlay-fade-duration fadeIn;
		-ms-animation: $loadingoverlay-fade-duration fadeIn;
		animation: $loadingoverlay-fade-duration fadeIn;
	}
}

.board-preview-container {
	width: 3 * ($boardpreview-width + $boardpreview-margin-left);
}

.board-preview {
	background-color: $boardpreview-bg;
	color: $gray-medium;
	box-sizing: border-box;
	display: inline-block;
	margin-left: $boardpreview-margin-left;
	margin-top: $boardpreview-margin-top;
	padding: $boardpreview-padding;
	width: $boardpreview-width;
	height: $boardpreview-height;

	&.selected {
		background-color: $turquoise;

		.btn-edit {
			color: $turquoise;
		}
	}

	.heading {
		cursor: pointer;
		font-size: 18px;
		margin-top: 6px;
		margin-bottom: 6px;
	}

	.thumbnail-container {
		position: relative;
		box-sizing: border-box;
		padding: 2px;
		margin: 0;
		width: 206px;
		height: 119px;
		background-color: $white;
		border: 1px solid $lightgray-dark;
		-webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
		box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
	}

	img.board {
		box-sizing: border-box;
		width:  200px;
		height: 113px;
		background-color: $white;
	}

	.thumbnail.board {
		border: none;
		margin: 0;
	}

	.btn-select {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 18px;
		box-shadow: none;
		background-color: $transparent;
		color: $lightgray-dark;

		&.btn-checkbox {
			&.active {
				box-shadow: none;
				color: $turquoise;
			}
		}
	}

	.spinner {
		position: absolute;
		top: 8px;
		right: 12px;
		font-size: 16px;
		background-color: $transparent;
		color: $lightgray-dark;
	}

	// .ng-enter {
	// 	-webkit-animation: $boardpreview-fade-duration fadeIn;
	// 	-moz-animation: $boardpreview-fade-duration fadeIn;
	// 	-ms-animation: $boardpreview-fade-duration fadeIn;
	// 	animation: $boardpreview-fade-duration fadeIn;
	// }

	// .ng-leave {
	// 	-webkit-animation: $boardpreview-fade-duration fadeOut;
	// 	-moz-animation: $boardpreview-fade-duration fadeOut;
	// 	-ms-animation: $boardpreview-fade-duration fadeOut;
	// 	animation: $boardpreview-fade-duration fadeOut;
	// }
}
