<div id="board-background">
	<span class="board-heading">{{ticketSearch.str}}</span>
	<div tb-board id="board" ng-click="onBoardClicked($event)">
		<div tb-ticket-proxy class="ticket-proxy"></div>
		<!-- <div ng-repeat="t in ticketSearchResult"
			class="ticket-hilight"
			ng-style="setHilightStyle(t)">
		</div> -->
		<tb-ticket ng-repeat="ticket in tickets | filter:ticketSearch.str track by ticket.id"
			snap-options="snapOptions"
			ticket-search="ticketSearch"
			ticket-data="ticket"
			ticket-edit="promptTicketEdit(ticket)"
			ticket-toggle="toggleTicketSelection(id)">
		</tb-ticket>
	</div>
</div>
<div class="info-container">
	<tb-toolbar>
		<div class="logo" ui-sref="main.workspace">
			<img src="/images/teamboard_logo.svg">
		</div>
		<div class="btn btn-tool"
			ng-click="logout()">
			<i class="fa fa-sign-out fa-fw"></i>
		</div>
		<div class="btn btn-tool"
			ng-if="currentUser.type != 'guest'"
			ui-sref="main.workspace">
			<i class="fa fa-th fa-fw"></i>
		</div>
	</tb-toolbar>
</div>
<div class="toolbar-container">
	<tb-toolbar>
		<div class="btn btn-tool"
			ng-show="backgroundEnabled"
			ng-click="promptBackgroundAdd()">
			<i class="fa fa-picture-o fa-fw"></i>
		</div>
		<div btn-checkbox
			class="btn btn-tool btn-checkbox enabled"
			ng-model="snapOptions.enabled">
			<i class="fa fa-magnet fa-fw"></i>
		</div>
		<div class="btn btn-tool"
			ng-show="removeEnabled"
			ng-click="promptTicketRemove()">
			<i class="fa fa-trash-o fa-fw"></i>
		</div>
		<div class="btn btn-tool"
			ng-show="editEnabled"
			ng-click="promptTicketEdit()">
			<i class="fa fa-edit fa-fw"></i>
		</div>
		<div class="btn btn-tool"
			ng-click="promptTicketCreate()">
			<i class="fa fa-plus fa-fw"></i>
		</div>
	</tb-toolbar>
</div>
<div class="btn btn-board-icon btn-presentation" ui-sref="main.presentation({ id: board.id })">
	<i class="fa fa-expand fa-fw"></i>
</div>
<div class="search-container">
	<tb-toolbar>
		<div class="ticket-search">
			<input type="text"
				class="form-control search-input"
				ng-model="ticketSearch.str"
				ng-change="applySearch()"
				placeholder="Search tickets...">
		</div>
		<div class="btn btn-tool"
			ng-click="toggleMinimap()">
			<i class="fa fa-arrows-alt fa-fw"></i>
		</div>
		<tb-minimap ng-show="isMinimapVisible"
			board="board"
			tickets="tickets"
			width="226"
			indicator="true">
		</tb-minimap>
	</tb-toolbar>
</div>
