<div class="board-preview">
	<div class="thumbnail-container">
		<!-- <button class="btn btn-edit" ng-click="promptBoardRemove(board)"> -->
		<button class="btn btn-edit" ng-click="selectBoard()">
			<i class="fa fa-check-circle"></i>
		</button>
		<a ui-sref="main.board({ id: board.id })">
			<img ng-if="board.screenshotUrl.length != 0"
				src="{{board.screenshotUrl}}"
				alt="..."
				class="thumbnail board center-block">
			<img ng-if="board.screenshotUrl.length == 0"
				src="http://placehold.it/320x180/ffffff&text=Empty Board"
				alt="..."
				class="thumbnail board center-block">
		</a>
	</div>
	<div class="heading" ng-click="editBoard(board)">
		{{ board.name | characters: 23: true }}
	</div>
	<div ng-if="board.isPublic" class="label label-public">Public</div>
	<div ng-if="!board.isPublic" class="label label-private">Private</div>
</div>
