<div id="{{board.id}}" class="board-preview" ng-class="{ 'selected': isSelected }">
	<div class="thumbnail-container">
		<div class="spinner" ng-show="isLoading">
			<i class="fa fa-circle-o-notch fa-spin"></i>
		</div>
		<div btn-checkbox
			ng-if="!isLoading"
			class="btn btn-select btn-checkbox"
			ng-model="$parent.isSelected"
			ng-click="onSelectClicked($event)">

			<i class="fa fa-check-circle"></i>
		</div>
		<a ui-sref="main.board({ id: board.id })" ng-click="onBoardClicked($event)">
			<!-- <div class="board-map"> -->
				<tb-minimap board="board" tickets="tickets" width="204" indicator="false"></tb-minimap>
			<!-- </div> -->
		</a>
	</div>
	<div class="heading">
		{{ board.name | characters: 20: true }}
	</div>
</div>
