<div id="{{board.id}}" class="board-preview">
	<div class="thumbnail-container">
		<div class="spinner" ng-show="isLoading">
			<i class="fa fa-circle-o-notch fa-spin"></i>
		</div>
		<div btn-checkbox
			ng-if="!isLoading"
			class="btn btn-select btn-checkbox"
			ng-model="$parent.isSelected"
			ng-click="onSelectClicked($event)">
			<i class="fa fa-check-circle"></i>
		</div>
		<a ui-sref="main.board({ id: board.id })" ng-click="onBoardClicked($event)">
			<!-- <img ng-src="{{screenshotUrl}}" class="board center-block"> -->
			<div class="board-map">
				<tb-minimap board="board" tickets="tickets" width="200" indicator="false"></tb-minimap>
			</div>
		</a>
	</div>
	<div class="heading" ng-click="promptBoardEdit(board)">
		{{ board.name | characters: 20: true }}
	</div>
	<div ng-if="!board.isPublic" class="label label-private">{{ 'LABEL_PRIVATE' | translate }}</div>
	<div ng-if="board.isPublic" class="label label-public">{{ 'LABEL_PUBLIC' | translate }}</div>
</div>
