<div id="board-background">
	<div tb-board id="board" ng-click="onBoardClicked($event)">
		<div tb-ticket-proxy class="ticket-proxy"></div>
		<tb-ticket ng-repeat="ticket in tickets track by ticket.id"
			snap-options="snapOptions"
			ticket-data="ticket"
			ticket-edit="promptTicketEdit(ticket)"
			ticket-toggle="toggleTicketSelection(id)">
		</tb-ticket>
	</div>
</div>
<div class="btn btn-board-icon btn-presentation" ui-sref="main.presentation({ id: board.id })">
	<i class="fa fa-expand fa-fw"></i>
</div>
<div class="btn btn-board-icon btn-minimap" ng-click="toggleMinimap()">
	<i class="fa fa-arrows-alt fa-fw"></i>
</div>
<!-- <div class="btn btn-board-icon btn-ticketsearch" ng-click="isSearchVisible = !isSearchVisible">
	<i class="fa fa-search fa-fw"></i>
</div>
<div ng-show="isSearchVisible">
	<input type="text" class="form-control text ticketsearch" ng-model="searchStr" ng-change="applySearch(searchStr)">
</div> -->
<div class="minimap-container" ng-class="{ 'minimap-visible': isMinimapVisible, 'minimap-hidden': !isMinimapVisible }">
	<tb-minimap board="board" tickets="tickets" width="225" indicator="true"></tb-minimap>
	<div class="search-box ticket-search">
		<span class="search-icon"><i class="fa fa-search"></i></span>
		<input type="search" class="search-input" ng-model="searchStr" placeholder="Search tickets...">
	</div>
</div>
