<div class="modal-header">
	<span class="btn btn-modal-close pull-right" ng-click="userOptions.cancel()"><i class="fa fa-times"></i></span>
	<div class="modal-heading-block">
		<div>{{ 'MODAL_HEADER_NEWBOARD' | translate }}</div>
	</div>
</div>
<div class="modal-content-divider"></div>
<div class="modal-body">
	<!-- Board info -->
	<div class="modal-content-block padding-lg">
		<form role="form" name="boardInfo" class="form-horizontal">
			<div class="form-group">
				<label for="headingInput" class="control-label col-xs-2">{{ 'MODAL_LABEL_NAME' | translate }}</label>
				<div class="col-xs-10">
					<input type="text"
						id="headingInput"
						name="headingInput"
						class="form-control text"
						placeholder="{{ 'MODAL_LABEL_BOARDNAME' | translate }}"
						ng-model="newBoard.name"
						tb-auto-focus
						required>
				</div>
			</div>
		</form>
	</div>
	<!-- <div class="modal-content-divider"></div>
	<div class="modal-heading-block"
		ng-click="isMemberViewCollapsed = !isMemberViewCollapsed; userOptions.isOwnerDetailsVisible = false">
		<div>{{ 'MODAL_HEADER_PEOPLEVIEW' | translate }}
			<i ng-if="!isMemberViewCollapsed" class="fa fa-caret-down fa-fw modal-content-caret"></i>
			<i ng-if="isMemberViewCollapsed" class="fa fa-caret-right fa-fw modal-content-caret"></i>
		</div>
	</div> -->
	<!-- Member view -->
	<!-- <div class="modal-content-block padding-md centered"
		ng-show="!isMemberViewCollapsed && !userOptions.isOwnerDetailsVisible">
		<div class="member-block" ng-click="userOptions.isOwnerDetailsVisible = true">
			<i class="fa fa-star owner-mark"></i>
			<div tb-gravatar size="48" email="userOptions.owner.email"></div>
		</div>
	</div>
	<div ng-if="userOptions.isOwnerDetailsVisible" class="modal-content-block padding-md centered">
		<div class="member-block" ng-click="userOptions.isOwnerDetailsVisible = false">
			<div tb-gravatar size="80" email="userOptions.owner.email"></div>
		</div>
		<p class="selected-email">{{userOptions.owner.email}}</p>
	</div> -->
</div>
<div class="modal-content-divider"></div>
<div class="modal-footer">
	<div class="modal-content-block padding-md">
		<div class="row">
			<div class="col-md-6">
				<button type="button" class="btn btn-lg btn-default btn-fw" ng-click="userOptions.cancel()">{{ 'MODAL_LABEL_CANCEL' | translate }}</button>
			</div>
			<div class="col-md-6">
				<button type="submit"
					class="btn btn-lg btn-primary btn-fw"
					ng-disabled="boardInfo.$invalid"
					ng-click="userOptions.apply(newBoard)">
					{{ 'MODAL_LABEL_CREATE' | translate }}
				</button>
			</div>
		</div>
	</div>
</div>
