<form role="form">
	<div class="modal-header">
		<h3>Remove board?</h3>
	</div>
	<div class="modal-body">
		<h4 class="boardname text-center">{{userOptions.boardName}}</h4>
		<img ng-if="userOptions.screenshotPath.length != 0"
			src="{{userOptions.screenshotPath}}"
			alt="..."
			class="thumbnail board img-responsive center-block">
		<img ng-if="userOptions.screenshotPath.length == 0"
			src="http://placehold.it/320x180/ffffff&text=Empty Board"
			alt="..."
			class="thumbnail board img-responsive center-block">
	</div>
	<div class="modal-footer">
		<div class="btn-group btn-group-justified">
			<label class="btn btn-lg" ng-click="userOptions.cancel()">Cancel</label>
			<label class="btn btn-lg btn-primary" ng-click="userOptions.apply()" tb-auto-focus>Remove</label>
		</div>
		<!-- <button type="button" class="btn" ng-click="userOptions.cancel()">Cancel</button> -->
		<!-- <button type="submit" class="btn btn-primary" ng-click="userOptions.apply()" tb-auto-focus>Remove</button> -->
	</div>
</form>
