<form role="form">
	<div class="modal-header">
		<div ng-if="userOptions.ticketCount == 1" class="heading">Delete ticket</div>
		<div ng-if="userOptions.ticketCount > 1" class="heading">Delete tickets</div>
	</div>
	<div class="modal-body">
		<div ng-if="userOptions.ticketCount == 1">
			<p class="text-center">Are you sure you want to delete ticket</p>
			<p class="text-center highlight">{{userOptions.ticketName}}</p>
		</div>
		<div ng-if="userOptions.ticketCount > 1">
			<p class="text-center">
				Are you sure you want to delete <span class="highlight">{{userOptions.ticketCount}}</span> tickets
			</p>
		</div>
	</div>
	<div class="modal-footer">
		<div class="row modal-controls">
			<div class="col-md-6">
				<button class="btn btn-lg btn-default btn-modal-control" ng-click="userOptions.cancel()">Cancel</button>
			</div>
			<div class="col-md-6">
				<button class="btn btn-lg btn-danger btn-modal-control" ng-click="userOptions.apply()">Delete</button>
			</div>
		</div>
	</div>
</form>
