<form role="form">
	<div class="modal-header color-select" ng-style="{ 'background-color': newData.color }">
		<div class="btn-group btn-group-justified radiogroup" ng-init="newData.color = userOptions.color">
			<label class="btn radioselect blue" ng-model="newData.color" btn-radio="'#4f819a'">&nbsp;</label>
			<label class="btn radioselect purple" ng-model="newData.color" btn-radio="'#724a7f'">&nbsp;</label>
			<label class="btn radioselect yellow" ng-model="newData.color" btn-radio="'#dcc75b'">&nbsp;</label>
			<label class="btn radioselect red" ng-model="newData.color" btn-radio="'#eb584a'">&nbsp;</label>
		</div>
	</div>
	<div class="modal-body">
		<div class="modal-content-block padding-md">
			<div class="row">
				<div class="col-md-12">
					<input type="text"
						class="form-control input-lg ticket-heading"
						id="headingInput"
						placeholder="{{ 'MODAL_LABEL_HEADINGADD' | translate }}"
						ng-init="newData.heading = userOptions.heading"
						ng-model="newData.heading"
						tb-auto-focus>
				</div>
			</div>
			<!-- TODO DESCRIPTION EDIT HERE -->
		</div>
	</div>
	<div class="modal-footer">
		<div class="modal-content-block padding-md">
			<div class="row">
				<div class="col-md-6">
					<button type="button" class="btn btn-lg btn-default btn-fw" ng-click="userOptions.cancel()">{{ 'MODAL_LABEL_CANCEL' | translate }}</button>
				</div>
				<div class="col-md-6">
					<button type="submit" class="btn btn-lg btn-primary btn-fw" ng-click="userOptions.apply(newData)">{{ 'MODAL_LABEL_APPLY' | translate }}</button>
				</div>
			</div>
		</div>
	</div>
</form>
