<form role="form">
	<div class="modal-header color-select" ng-style="{ 'background-color': newTicket.color }">
		<div class="btn-group btn-group-justified radiogroup" ng-init="newTicket.color = '#4f819a'">
			<label class="btn radioselect blue" ng-model="newTicket.color" btn-radio="'#4f819a'">&nbsp;</label>
			<label class="btn radioselect purple" ng-model="newTicket.color" btn-radio="'#724a7f'">&nbsp;</label>
			<label class="btn radioselect yellow" ng-model="newTicket.color" btn-radio="'#dcc75b'">&nbsp;</label>
			<label class="btn radioselect red" ng-model="newTicket.color" btn-radio="'#eb584a'">&nbsp;</label>
		</div>
	</div>
	<div class="modal-body">
		<div class="modal-content-block padding-md">
			<div class="row">
				<div class="col-md-12">
					<input type="text"
						class="form-control input-lg ticket-heading"
						id="headingInput"
						placeholder="Add a heading..."
						ng-model="newTicket.heading"
						tb-auto-focus>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div text-angular id="contentInput" ng-model="newTicket.content" placeholder="Add a description..."></div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="modal-content-block padding-md">
			<div class="row">
				<div class="col-md-6">
					<button class="btn btn-lg btn-default btn-fw" ng-click="userOptions.cancel()">Cancel</button>
				</div>
				<div class="col-md-6">
					<button class="btn btn-lg btn-primary btn-fw" ng-click="userOptions.apply(newTicket)">Create</button>
				</div>
			</div>
		</div>
	</div>
</form>
