<div class="modal-header">
	<span class="btn btn-modal-close pull-right" ng-click="cancel()"><i class="fa fa-times"></i></span>
	<div class="modal-heading-block">
		<div>{{ 'MODAL_HEADER_BOARDEDIT' | translate }}</div>
	</div>
</div>
<div class="modal-content-divider"></div>
<div class="modal-body">
	<!-- Board info -->
	<div class="modal-content-block padding-lg">
		<form role="form" name="boardInfo" class="form-horizontal">
			<div class="form-group">
				<label for="headingInput" class="control-label col-xs-2">{{ 'MODAL_LABEL_NAME' | translate }}</label>
				<div class="col-xs-10">
					<input type="text"
						id="headingInput"
						name="headingInput"
						class="form-control text"
						placeholder="{{ 'MODAL_LABEL_BOARDNAME' | translate }}"
						ng-init="newData.name = board.name"
						ng-model="newData.name"
						tb-auto-focus
						required>
				</div>
			</div>
			<div class="form-group last">
				<label for="visibilityInput" class="control-label col-md-2">{{ 'MODAL_LABEL_VISIBILITY' | translate }}</label>
				<div class="col-xs-10">
					<div id="visibilityInput" class="btn-group btn-group-justified btn-group-visibility" ng-init="newData.isPublic = board.isPublic">
						<label class="btn btn-md btn-visibility" ng-model="newData.isPublic" btn-radio="false">{{ 'LABEL_PRIVATE' | translate }}</label>
						<label class="btn btn-md btn-visibility" ng-model="newData.isPublic" btn-radio="true">{{ 'LABEL_PUBLIC' | translate }}</label>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-content-divider"></div>
	<div class="modal-heading-block" ng-click="toggleMemberView()">
		<div>{{ 'MODAL_HEADER_PEOPLEVIEW' | translate }}
			<i ng-if="!isMemberViewCollapsed" class="fa fa-caret-down fa-fw modal-content-caret"></i>
			<i ng-if="isMemberViewCollapsed" class="fa fa-caret-right fa-fw modal-content-caret"></i>
		</div>
	</div>
	<!-- Member view -->
	<div class="modal-content-block padding-md centered" ng-show="!isMemberViewCollapsed && !isMemberDetailsVisible">
		<div ng-repeat="member in members" class="member-block" ng-click="showMemberDetails(member)">
			<i ng-if="$index == 0" class="fa fa-star owner-mark"></i>
			<div tb-gravatar size="48" email="member.email"></div>
		</div>
	</div>
	<div ng-if="isMemberDetailsVisible" class="modal-content-block padding-md centered">
		<div class="member-block" ng-click="hideMemberDetails()">
			<div tb-gravatar size="80" email="selectedMember.email"></div>
		</div>
		<p class="selected-email">{{selectedMember.email}}</p>
		<button class="btn btn-primary" ng-click="removeSelectedMember()">{{ 'MODAL_LABEL_REMOVE' | translate }}</button>
	</div>
	<div class="modal-content-divider"></div>
	<div class="modal-heading-block">
		<div>{{ 'MODAL_HEADER_PEOPLEADD' | translate }}</div>
	</div>
	<!-- Add member view -->
	<div class="modal-content-block padding-md">
		<form role="form" name="userInvite" class="form-horizontal">
			<p ng-if="result.hasError" class="help-block error">{{result.message}}</p>
			<div class="form-group">
				<label for="userInput" class="control-label col-xs-3">{{ 'MODAL_LABEL_PEOPLEADD' | translate }}</label>
				<div class="col-xs-6">
					<input type="text"
						id="userInput"
						name="userInput"
						class="form-control text"
						typeahead="user.email for user in users | filter:$viewValue"
						ng-model="memberName"
						required>
				</div>
				<div class="col-xs-3">
					<button class="btn btn-primary btn-fw"
						ng-disabled="userInvite.$invalid"
						ng-click="result = addMember(memberName); memberName = ''">
						{{ 'MODAL_LABEL_INVITE' | translate }}
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="modal-content-divider"></div>
<div class="modal-footer">
	<div class="modal-content-block padding-md">
		<div class="row">
			<div class="col-md-6">
				<button type="button" class="btn btn-lg btn-default btn-fw" ng-click="cancel()">{{ 'MODAL_LABEL_CANCEL' | translate }}</button>
			</div>
			<div class="col-md-6">
				<button type="submit"
					class="btn btn-lg btn-primary btn-fw"
					ng-disabled="boardInfo.$invalid"
					ng-click="apply(newData)">
					{{ 'MODAL_LABEL_SAVECHANGES' | translate }}
				</button>
			</div>
		</div>
	</div>
</div>
