<div class="registerwrapper">
	<div class="container register">
		<div class="row">
			<div class="col-sm-12">
				<h1><img src="/images/teamboard_logo.svg"> Teamboard</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<h2>Register</h2>
			</div>
			<div class="col-sm-12">
				<form class="form" name="form" ng-submit="register(form)" novalidate>
					<div class="form-group has-error">
						<p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
							 Please enter your email and password.
						</p>
						<p class="help-block">{{ errors.other }}</p>
					</div>
					<input type="email"
						name="email"
						class="form-control"
						ng-model="user.email"
						placeholder="Email address"
						autofocus
						required>

					<input type="password"
						name="password"
						class="form-control"
						ng-model="user.password"
						placeholder="Password"
						required>

					<button type="submit" class="btn btn-auth btn-register">Register</button>
				</form>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<!-- Already registered? <a href="/login">Log in.</a> -->
				<p>Already registered?</p>
				<a ui-sref="login">Log in.
					<button class="btn btn-auth btn-loginlink">Sign in</button>
				</a>
			</div>
		</div>
	</div>
</div>
