<div id="{{ticket.id}}" class="ticket" ng-click="editTicket($event)">
	<!-- <div ng-if="isHilighted" class="ticket-hilight"></div> -->
	<div ng-if="isSelected" class="selection-overlay"></div>
	<!-- <div ng-if="isSelected || isHilighted"
		ng-class="{ 'selection-overlay': isSelected, 'ticket-hilight': isHilighted }">
	</div> -->
	<div btn-checkbox
		class="btn btn-select btn-checkbox"
		ng-model="isSelected"
		ng-click="onSelectClicked($event)">
		<i class="fa fa-check-circle"></i>
	</div>
	<div class="color" ng-style="{ 'background-color': ticket.color }"></div>
	<div class="heading">
		{{ ticket.heading | characters: 80: true }}
	</div>
</div>
