<div class="topbar">
	<div class="container-fluid content-wrapper"
		ng-class="isSidebarCollapsed ? 'sidebar-margin-collapsed' : 'sidebar-margin'">
		<div class="row">
			<div class="col-sm-5 content-block">
				<h2 class="workspace-heading">{{ 'TOPBAR_LABEL_BOARDS' | translate }} <span class="badge">{{ boards.length }}</span></h2>
			</div>
			<div class="col-sm-4 content-block">
				<div class="btn-group iconbar pull-right">
					<div class="btn btn-icon"
						ng-class="{ enabled: removeEnabled, disabled: !removeEnabled }"
						ng-disabled="!removeEnabled"
						ng-click="onRemoveClicked()">
						<i class="fa fa-trash-o fa-fw"></i>
					</div>
					<div class="btn btn-icon"
						ng-class="{ enabled: editEnabled, disabled: !editEnabled }"
						ng-disabled="!editEnabled"
						ng-click="onEditClicked()">
						<i class="fa fa-edit fa-fw"></i>
					</div>
				</div>
			</div>
			<div class="col-sm-3 content-block">
				<button class="btn btn-add center-block" ng-click="onCreateClicked()">
					<i class="fa fa-plus"></i> {{ 'TOPBAR_LABEL_CREATEBOARD' | translate }}
				</button>
			</div>
		</div>
	</div>
</div>
