<div class="topbar">
	<div class="container-fluid content-wrapper">
		<div class="row">
			<div class="col-sm-4 cursor-pointer" ng-click="onHeadingClicked()">
				<h3>{{ board.name | characters: 38: true }}</h3>
				<div ng-if="board.isPublic" class="label label-public">Public</div>
				<div ng-if="!board.isPublic" class="label label-private">Private</div>
			</div>
			<div class="col-sm-4">
				<button class="btn btn-add center-block" ng-click="onCreateClicked()">
					<i class="fa fa-plus"></i> Create Ticket
				</button>
			</div>
			<div class="col-sm-4">
				<div class="btn-group iconbar">
					<div btn-checkbox
						class="btn btn-icon btn-checkbox enabled"
						ng-model="snapEnabled"
						ng-click="onEnableSnapClicked()">
						<i class="fa fa-magnet fa-fw"></i>
					</div>
					<div class="btn btn-icon"
						ng-class="{ enabled: removeEnabled }"
						ng-disabled="!removeEnabled"
						ng-click="onRemoveClicked()">
						<i class="fa fa-trash-o fa-fw"></i>
					</div>
					<div class="btn btn-icon"
						ng-class="{ enabled: editEnabled }"
						ng-disabled="!editEnabled"
						ng-click="onEditClicked()">
						<i class="fa fa-edit fa-fw"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
