<div tb-workspace id="workspace" ng-click="onWorkspaceClicked($event)">
	<tb-toolbar>
		<div class="btn btn-tool"><i class="fa fa-trash-o fa-fw"></i></div>
		<div class="btn btn-tool"><i class="fa fa-edit fa-fw"></i></div>
	</tb-toolbar>
	<div class="container-fluid">
		<div class="row">
			<tb-board-preview ng-repeat="board in boards | filter:{ name: searchStr } | reverse track by board.id">
			</tb-board-preview>
		</div>
	</div>
</div>
<div class="btn btn-board-icon btn-boardsearch" ng-click="isSearchVisible = !isSearchVisible">
	<i class="fa fa-search fa-fw"></i>
</div>
<div ng-show="isSearchVisible">
	<input type="text" class="form-control text boardsearch" ng-model="searchStr">
</div>
<div id="loading-overlay"></div>
