<tb-workspace boards="boards" id="workspace" state="state" ng-click="onWorkspaceClicked($event)">
	<div class="container-fluid">
		<div class="row"
			ng-select="selectedBoardIds"
			select-class="{ 'selected': $optSelected }"
			select-multiple>

			<tb-board-preview ng-repeat="board in boards | filter:{ name: searchStr } | reverse track by board.id"
				ng-select-option="{{board.id}}"
				ng-click="onBoardPreviewClicked($event)">
			</tb-board-preview>
		</div>
	</div>
</tb-workspace>
<div class="btn btn-board-icon btn-boardsearch" ng-click="isSearchVisible = !isSearchVisible">
	<i class="fa fa-search fa-fw"></i>
</div>
<div ng-show="isSearchVisible">
	<input type="text" class="form-control text boardsearch" ng-model="searchStr">
</div>
<div id="loading-overlay"></div>
