<div class="loginwrapper">
	<div class="login">
		<div class="row">
			<div class="col-sm-12">
				<h1><img src="/images/teamboard_logo.svg"> Teamboard</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<h2>Login</h2>
			</div>
			<div class="col-sm-12">
				<form class="form login-form"
					name="form"
					ng-submit="login(form)"
					novalidate>

					<input type="email"
						name="email"
						class="form-control"
						ng-model="user.email"
						placeholder="Email address"
						autofocus
						required>

					<input type="password"
						name="password"
						class="form-control"
						ng-model="user.password"
						placeholder="Password"
						required>

					<div class="form-group has-error">
						<p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
							Please enter your email and password.
						</p>
						<p class="help-block">{{ errors.other }}</p>
					</div>

					<button type="submit" class="btn btn-block btn-primary">Sign in</button>
				</form>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				Not registered? <a ui-sref="register">Create an account.</a>
			</div>
		</div>
	</div>
</div>
