<div class="loginwrapper">
	<div class="container login">
		<div class="row">
			<div class="col-sm-12">
				<h1><img src="/images/teamboard_logo.svg"> Teamboard</h1>
			</div>
		</div>
		<form class="form login-form" name="form" ng-submit="login(form)" novalidate>
			<div class="row">
				<div class="col-sm-12">
					<h2>{{ 'AUTH_LABEL_LOGIN' | translate }}</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<p class="help-block error" ng-show="form.email.$error.required && form.password.$error.required && submitted">
							{{ 'AUTH_MESSAGE_EMPTYFIELDS' | translate }}
						</p>
						<p class="help-block">{{ errors.other }}</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<input type="email"
						name="email"
						class="form-control"
						ng-model="user.email"
						placeholder="{{ 'AUTH_LABEL_EMAIL' | translate }}"
						autofocus
						required>

					<input type="password"
						name="password"
						class="form-control"
						ng-model="user.password"
						placeholder="{{ 'AUTH_LABEL_PASSWORD' | translate }}"
						required>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<button type="submit" class="form-control btn-auth btn-3d btn-login">{{ 'AUTH_LABEL_SIGNIN' | translate }}</button>
				</div>
			</div>
		</form>
		<div class="row">
			<div class="col-sm-12">
				<div class="divider"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<p>{{ 'AUTH_MESSAGE_NOTREGISTERED' | translate }}</p>
				<a ui-sref="register">
					<button class="form-control btn-auth btn-flat btn-registerlink">{{ 'AUTH_LABEL_REGISTER' | translate }}</button>
				</a>
			</div>
		</div>
	</div>
</div>
