<div class="registerwrapper">
	<div class="container register">
		<div class="row">
			<div class="col-sm-12">
				<h1><img src="/images/teamboard_logo.svg"> Contriboard</h1>
			</div>
		</div>
		<form class="form" name="form" ng-submit="register(form)" novalidate>
			<div class="row">
				<div class="col-sm-12">
					<h2>{{ 'AUTH_HEADER_REGISTER' | translate }}</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<p class="help-block error" ng-show="form.email.$error.required && form.password.$error.required && submitted">
							{{ 'AUTH_MESSAGE_EMPTYFIELDS' | translate }}
						</p>
						<p class="help-block">{{ errors.other }}</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<input type="email"
						name="email"
						class="form-control"
						ng-model="user.email"
						placeholder="{{ 'AUTH_LABEL_EMAIL' | translate }}"
						autofocus
						required>

					<input type="password"
						name="password"
						class="form-control"
						ng-model="user.password"
						placeholder="{{ 'AUTH_LABEL_PASSWORD' | translate }}"
						required>

					<div class="form-group">
						<label class="lbl-confirm" for="passwordConfirm">{{ 'AUTH_LABEL_PWCONFIRM' | translate }}</label>
						<input type="password"
							id="passwordConfirm"
							name="passwordConfirm"
							class="form-control pwconfirm"
							ng-model="user.passwordConfirm"
							placeholder="{{ 'AUTH_LABEL_PASSWORD' | translate }}"
							required>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<button type="submit" class="form-control btn-auth btn-3d btn-register">{{ 'AUTH_LABEL_REGISTER' | translate }}</button>
				</div>
			</div>
		</form>
		<div class="row">
			<div class="col-sm-12">
				<div class="divider"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<p>{{ 'AUTH_MESSAGE_ALREADYREGISTERED' | translate }}</p>
				<a ui-sref="login">
					<button class="form-control btn-auth btn-flat btn-loginlink">{{ 'AUTH_LABEL_SIGNIN' | translate }}</button>
				</a>
			</div>
		</div>
	</div>
</div>
