<div ng-init

<div class="modal-header">
	<span class="btn btn-modal-close" ng-click="$dismiss()">
		<i class="fa fa-times"></i>
	</span>
	<div class="modal-heading-block">
		{{ 'MODAL_HEADER_NEWBOARD' | translate }}
	</div>
</div>

<div class="modal-content-divider"></div>

<div class="modal-body">
	<div class="modal-content-block padding-lg">
		<form role="form" class="form-horizontal">
			<div class="form-group">
				<label for="board-name" class="control-label col-xs-2">
					{{ 'MODAL_LABEL_NAME' | translate }}
				</label>
				<div class="col-xs-10">
					<input type="text" name="board-name"
					       class="form-control text"
					       ng-model="result.name" required tb-auto-focus />
				</div>
			</div>
		</form>
	</div>
</div>

<div class="modal-content-divider"></div>

<div class="modal-footer">
	<div class="modal-content-block padding-md">
		<button class="btn btn-lg btn-fw btn-primary"
		        ng-click="$close(result)">
			{{ 'MODAL_LABEL_CREATE' | translate }}
		</button>
	</div>
</div>
