<div class="tb-modal-backdrop" ng-click="close(false)"></div>
<div class="tb-modal">
	<div class="tb-modal-head">

		<span class="tb-modal-close" ng-click="close(false)">
			<i class="fa fa-times"></i>
		</span>

		<div class="tb-modal-heading">
			{{ 'MODAL_HEADER_REMOVEBOARD' | translate }}
		</div>

	</div>
	<div class="tb-modal-body">

		<div class="tb-modal-section">
			<p class="text-center">
				{{ 'MODAL_MESSAGE_BOARDREMOVE' | translate }}
			</p>
			<p class="text-center">
				{{result.name}}
			</p>
		</div>

		<div class="tb-modal-submit">
			<button ng-click="close(true)">
				{{ 'MODAL_LABEL_DELETE' | translate }}
			</button>
		</div>

	</div>
</div>
